.onstage-text {
    font-family: "OnStage", sans-serif;
    color: #ff6b6b;
}

footer a:hover {
    color: #fff !important;
    text-decoration: underline;
}

footer h6 {
    font-size: 16px;
}

footer p,
footer li {
    font-size: 14px;
}

/* Icon spacing */
.fas {
    width: 18px;
    text-align: center;
}

.custom-map-link {
    position: relative;
    display: block;
    padding: 1px 10px;
    line-height: 1.5;
    text-align: justify;
    z-index: 1;
    overflow: hidden;
    transition: color 0.25s ease;
}

/* Parallelogram hover */
.custom-map-link::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    background-color: #ff6b6b;
    transform-origin: left;
    transition: width 0.3s ease;
    z-index: -1;
}

.custom-map-link:hover {
    color: #fff;
}

.custom-map-link:hover::after {
    width: 115%;
}

.custom-footer-link {
    position: relative;
    color: #2b2b2b;
    text-decoration: none;
    padding: 2px 6px;
    z-index: 1;
    transition: color 0.25s ease;
    overflow: hidden;
}

/* Parallelogram background */
.custom-footer-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 100%;
    background-color: #ff6b6b; /* sky red */
    transform: skewX(-20deg);
    transform-origin: left;
    transition: width 0.3s ease;
    z-index: -1;
}

.custom-footer-link:hover {
    color: #fff; /* readable on red */
}

.custom-footer-link:hover::after {
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
}
