.back-print-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-print-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
