/* =====================================
   CARD DESIGN 2 FRONT - HEADER
===================================== */

.wide-header {
    position: relative;
    height: 85px;
    background: linear-gradient(135deg, #8b0000, #b81414);
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.wide-header-logo img {
    width: 35px;
}

.wide-header-title {
    margin-left: 25px;
    color: #fff;
}

.wide-header-title h4 {
    margin: 0;
    font-size: 19px;
    font-weight: 700;
}

.wide-header-title p {
    margin-top: 4px;
    font-size: 12px;
    letter-spacing: 2px;
}