/* =====================================
   CARD DESIGN 1 - FRONT BASE
===================================== */

.doctor-card-holder {
    width: 350px;
    height: 560px;
    perspective: 1000px;
    position: relative;
    font-family: "Poppins", Arial, sans-serif;
}
