/*
|--------------------------------------------------------------------------
| GLOBAL BACKEND LAYOUT
|--------------------------------------------------------------------------
*/

/*
|--------------------------------------------------------------------------
| GLOBAL BACKEND BACKGROUND
|--------------------------------------------------------------------------
*/

html,
body {
    min-height: 100%;
    background-color: #d8d8d8 !important;
}

/*
|--------------------------------------------------------------------------
| ADMINLTE MAIN WRAPPER
|--------------------------------------------------------------------------
*/

.wrapper {
    min-height: 100vh;
    background-color: #d8d8d8 !important;
}

/*
|--------------------------------------------------------------------------
| ADMINLTE CONTENT WRAPPER
|--------------------------------------------------------------------------
*/

.content-wrapper {
    min-height: calc(100vh - 57px) !important;
    background-color: #d8d8d8 !important;
}

/*
|--------------------------------------------------------------------------
| ADMINLTE CONTENT AREA
|--------------------------------------------------------------------------
*/

.content {
    background-color: transparent !important;
}
