/*
|--------------------------------------------------------------------------
| DATATABLE WRAPPER
|--------------------------------------------------------------------------
*/

div.dataTables_wrapper {
    width: 100% !important;
    overflow-x: auto;
}

.hover-box {
    display: inline-block;
    padding: 4px 6px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hover-box:hover {
    background-color: #ff6b6b;
    color: #fff;
}

/*
|--------------------------------------------------------------------------
| DATATABLE
|--------------------------------------------------------------------------
*/

table.dataTable {
    width: 100% !important;
}
