/*
|--------------------------------------------------------------------------
| DATATABLE WRAPPER
|--------------------------------------------------------------------------
*/

div.dataTables_wrapper {
    width: 100% !important;
    overflow-x: auto;
}

/*
|--------------------------------------------------------------------------
| DATATABLE
|--------------------------------------------------------------------------
*/

table.dataTable {
    width: 100% !important;
}
