/* =====================================
   LANYARD DESIGN 03
===================================== */

.lanyard03-body {
    height: 300px;

    display: flex;

    flex-direction: column;
}

/* =====================================
   STRIP
===================================== */

.lanyard03-strip {
    flex: 1;

    position: relative;

    display: flex;

    align-items: center;

    justify-content: center;

    overflow: hidden;
}
/* =====================================
   SIDE BANDS
===================================== */

.left-band,
.right-band{
    position:absolute;
    width:10px;
    height:70%;
    top:15%;
    border-radius:30px;
}

/* Left */
.left-band-1{ left:15px; }
.left-band-2{ left:30px; }
.left-band-3{ left:45px; }

/* Right */
.right-band-1{ right:15px; }
.right-band-2{ right:30px; }
.right-band-3{ right:45px; }


/* CENTER */
.lanyard03-center{
    display:flex;
    align-items:center;
    gap:10px;
    position:relative;
    z-index:2;
}

.lanyard03-logo{
    width:25px;
    height:25px;
    object-fit:contain;
}

.lanyard03-center span{
    font-size:25px;
    font-weight:700;
    letter-spacing:.5px;
}

/* WHITE */

.lanyard03-white {
    background: #fff;
    color: #8b0000;
    border-bottom: 1px dashed #ddd;
}

.lanyard03-white .left-band,
.lanyard03-white .right-band {
    background: #8b0000;
}

.lanyard03-white .lanyard03-badge {
    background: #8b0000;
}

.lanyard03-white .lanyard03-badge img {
    background: #fff;
    border-radius: 50%;
    padding: 2px;
}

/* RED*/

.lanyard03-red {
    background: #8b0000;
    color: #fff;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.35);
}

.lanyard03-red .left-band,
.lanyard03-red .right-band {
    background: #fff;
}

.lanyard03-red .lanyard03-badge {
    background: #fff;
}

.lanyard03-red .lanyard03-badge img {
    background: #8b0000;
    border-radius: 50%;
    padding: 2px;
}

/* =====================================
   BLACK
===================================== */

.lanyard03-black {
    background: #000;
    color: #fff;
}

.lanyard03-black .left-band,
.lanyard03-black .right-band {
    background: #8b0000;
}

.lanyard03-black .lanyard03-badge {
    background: #8b0000;
}

.lanyard03-black .lanyard03-badge img {
    background: #fff;
    border-radius: 50%;
    padding: 2px;
}
