/* ===================================
CONTACT SECTION
=================================== */

.footer-contact-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.footer-contact-item i {
    width: 20px;
    margin-top: 3px;
}

.footer-action {
    transition: 0.3s;
    cursor: pointer;
}

.footer-action:hover {
    color: #ff6b6b !important;
}
